body {
    background: black;
    overscroll-behavior-x: none;
}

nav {
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}


.header {
    margin-top: -100%;
    font-family: 'Work Sans', sans-serif;
    transition: all 1000ms;
}

.logo {
    cursor: pointer;
    font-size: 56px;
    font-weight: bold;
    align-items: center;
    margin-top: -33px;
}

@media screen and (min-width: 1000px) {
    .logo {
        float: left;
        display: flex;
    }

    .nav-elems {
        text-align: left;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        text-align: center;
        margin-top: 0;
    }

    .nav-elems {
        text-align: center;
    }

    .arrow {
        display: none;
    }
}

.first {
    margin-left: 50px;
}

.logo-2 {
    color: #e50280;
}

.logo-1 {
    color: white;
}

.nav-elem {
    display: inline-block;
    font-size: 16px;
    color: white;
    border: 1px solid #e50280;
    border-radius: 10px;
    width: fit-content;
    transition: all 300ms;
}

.nav-elem:hover:not(.selected) {
    text-decoration: none;
    color: white;
    background: #ff0296;
    transition: all 300ms;
}

.selected:hover {
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

.nav-elem:active {
    border: 1px solid white;
    transition: all 50ms;
}

.selected {
    background: linear-gradient(#e50280, black, #e50280);
    animation: background 10s infinite alternate;
}

@keyframes background {
  100% {
    background-position: 0 200px;
  }
}

.nav-text {
    padding: 5px;
}

.nav-elems {
    display: inline-block;
    width: 90%;
}

.arrow {
    opacity: 0;
    color: white;
    text-align: left;
    offset: 0;
    transition: 300ms all;
}

.ln {
    display: inline-block;
    height: 1px;
    border: 1px solid #e50280;
    background: #e50280;
}
