@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

body {
    background: #494949;
}

.header {
    background: #404040;
    display: flex;
}

.logo {
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.nav-elem, .login-btn, .user-wrapper {
    margin-top: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: white;
}

.nav-elem {
    margin-left: 75px;
    text-decoration: none;
    color: white;
}

.login-btn, .user-wrapper {
    border-radius: 10px;
    background: #E50280;
    border: 1px solid #E50280;
    text-align: center;
    width: 120px;
    margin-right: 25px;
    margin-left: auto;
    order: 2;
    margin-bottom: 20px;
    height: fit-content;
    transition: background 200ms, border 10ms;
}

.nav-elem:not(.selected):hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.login-btn:hover {
    text-decoration: none;
    color: white;
    background: #404040;
}

.nav-elem:active {
    color: #E50280;
    border-bottom: 1px solid;
}

.login-btn:active {
    border: 1px solid white;
}

.selected {
    color: #E50280;
    border-bottom: 1px solid;
}

.selected:hover {
    color: #E50280;
    text-decoration: none;
}

.user-info {
    height: fit-content;
    width: fit-content;
    background: #ffa365;
    border: 1px solid #ffa365;
    border-radius: 10px;
    color: white;
    transition: all 500ms;
}

.user-wrapper {
    background: none;
    width: fit-content;
    border: none;
    display: flex;
}

.user-info:hover {
    text-decoration: none;
    color: #E50280;
}

.logout-btn {
    color: #E50280;
    cursor: pointer;
    transition: all 500ms;
}

.logout-btn:hover {
    margin-left: 10px;
}