@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

body {
    background: #494949;
}

.header {
    background: #404040;
    display: flex;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.nav-text {
    vertical-align: middle;
}

.nav-elem, .login-btn {
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: white;
}

.nav-elem {
    margin-left: 75px;
    text-decoration: none;
    color: white;
}

.login-btn {
    border-radius: 10px;
    background: #E50280;
    border: 1px solid #E50280;
    text-align: center;
    width: 120px;
    margin-right: 25px;
    margin-left: auto;
    order: 2;
    margin-bottom: 20px;
    height: fit-content;
    transition: background 200ms, border 10ms;
}

.nav-elem:hover {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.login-btn:hover {
    text-decoration: none;
    color: white;
    background: #4a0227;
}

.nav-elem:active {
    color: #E50280;
    border-bottom: 1px solid;
}

.login-btn:active {
    border: 1px solid white;
}

.selected {
    background: linear-gradient(#e50280, black, #e50280);
    animation: background 10s infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes background {
    100% {
        background-position: 0 200px;
    }
}